@page
@model RazorWeb.Pages.SearchModel
@{
    var searchTerm = Request.Query["searchTerm"];
    var filteredPosts = WebApp.Api.Posts.Search(searchTerm).Result;

    //var urlImage = Piranha.Utils.GetImage(HttpContext.Request.Host.Value, "purple.png");
    var urlImage = await WebApp.Api.Media.GetMediaAsync("purple.png");
}

<header class="has-image" style="background-image: url(@Url.Content(@urlImage))">
    <div class="dimmer"></div>
    <div class="container text-center">
        <h1>Resultado Pesquisa</h1>
        <div class="row justify-content-center">
            <div class="col-lg-8 lead">
            </div>
        </div>
    </div>
</header>

<main class="archive">
    <div class="container">
        @if (filteredPosts.Count()>0)
        {
            @foreach (var item in filteredPosts)
            {
                <div class="row">
                    <article>
                        <header>
                            <h3>@item.Title</h3>
                            <p class="post-meta">
                                <span>
                                    Tags
                                    @foreach (var tag in item.Tags)
                                    {
                                        <a href="@item.Permalink.Replace(item.Slug, "")tag/@tag.Slug">#@tag.Slug</a>
                                    }
                                </span>
                                @if (item.IsPublished)
                                {
                                    <span>
                                        Publicado @item.Published.Value.ToShortDateString()
                                    </span>
                                }
                                @if (item.EnableComments && item.CommentCount > 0)
                                {
                                    <span>
                                        <a href="@item.Permalink#comments">@item.CommentCount @(item.CommentCount == 1 ? "comentário" : "comentários")</a>
                                    </span>
                                }
                            </p>
                            <p>@Html.Raw(item.Excerpt)</p>
                            <a href="@WebApp.Url(item)" class="btn btn-primary">Leia mais</a>
                        </header>
                    </article>
                </div>
            }
        }
        else
        {
            <div class="row">
                <h3>Não foram encontrados resultados para o termo de pesquisa.</h3>
            </div>
        }
    </div>
</main>